
<template>
    <div>
        <div class="page-titles p-3 border-bottom">
            <h3 class="text-themecolor">Proefritten Toevoegen</h3>
        </div>
        <div class="row">
            <div class="col-12 col-sm-8">
                <div class="card border-right">
                    <div class="card-body p-4">
                        <h4 class="card-title">Proefritten Toevoegen</h4>
                        <form @submit.prevent="process" @keydown="proForm.errors.clear($event.target.name)">
                            <div class="row">
                                <div class="col-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="">Kenteken </label>
                                        <input class="form-control" type="text" name="licence_plate" v-model="proForm.licence_plate">
                                        <show-error :form-name="proForm" prop-name="licence_plate"></show-error>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="">Naam</label>
                                        <input class="form-control" type="text" name="name" v-model="proForm.name">
                                        <show-error :form-name="proForm" prop-name="name"></show-error>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="form-group">
                                        <label for=""> Rijbewijs nummer</label>
                                        <input class="form-control" type="text" name="licence_nummer" v-model="proForm.licence_nummer">
                                        <show-error :form-name="proForm" prop-name="licence_number"></show-error>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="">Datum</label>
                                        <datepicker v-model="proForm.date" :bootstrapStyling="true" name="date" @selected="proForm.errors.clear('date')"></datepicker>
                                        <show-error :form-name="proForm" prop-name="date"></show-error>
                                    </div>
                                </div>
                          
                                
               
                              
                                <div class="col-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="">km stand begin</label>
                                        <input class="form-control" type="text" name="begin_location" v-model="proForm.begin_location">
                                        <show-error :form-name="proForm" prop-name="begin_location"></show-error>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="">km stand einde</label>
                                        <input class="form-control" type="text" name="end_location" v-model="proForm.end_location">
                                        <show-error :form-name="proForm" prop-name="end_location"></show-error>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="">starttijd </label>
                                        <input class="form-control" type="time" name="start_time" v-model="proForm.start_time">
                                        <show-error :form-name="proForm" prop-name="start_time"></show-error>
                                    </div>
                                </div>
                                  <div class="col-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="">eindtijd </label>
                                        <input class="form-control" type="time" name="end_time" v-model="proForm.end_time">
                                        <show-error :form-name="proForm" prop-name="end_time"></show-error>
                                    </div>
                                </div>
                            </div>
                    <button type="submit" class="btn btn-info waves-effect waves-light pull-right">
                        <span v-if="id">{{trans('general.update')}}</span>
                        <span v-else>{{trans('general.save')}}</span>
                    </button>                           
                    <button v-if="!id" type="button" class="btn btn-danger waves-effect waves-light pull-right m-r-10" @click="$emit('cancel')">{{trans('general.cancel')}}</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="card-title">Rijbewijs </h4>
                        <!-- <upload-image id="rijbewijs" :upload-path="`/user/profile/rijbewijs/`" :remove-path="`/user/profile/rijbewijs/remove/`" :image-source="rijbewijs.user" @uploaded="updateRijbewijs" @removed="updateRijbewijs"></upload-image> -->
                        <upload-image id="rijbewijs" :upload-path="`/user/profile/rijbewijs/`" :remove-path="`/user/profile/rijbewijs/remove/`" :image-source="rijbewijs.user" @uploaded="updateRijbewijs" @removed="updateRijbewijs"></upload-image>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import datepicker from 'vuejs-datepicker'
    import uploadImage from '../../components/upload-image'
    import autosizeTextarea from '../../components/autosize-textarea'

    export default {
        components : { datepicker,uploadImage,autosizeTextarea },
        data() {
            return {
                proForm: new Form({
                    licence_plate : '',
                    licence_number : '',
                    date : '',
                    name : '',
                    begin_location : '',
                    end_location : '',
                    start_time : '',
                    end_time : '',
                }, false),
                rijbewijs: {
                    user: ''
                },
            };
        },
        props: ['id'],
        mounted() {
            if(this.id)
                this.getPro();
        },
        methods: {
            process(){
                if(this.id)
                    this.updatePro();
                else
                    this.storePro();
            },
            updateRijbewijs(val){
                this.$store.dispatch('setAuthUserDetail',{
                    rijbewijs: val
                });
            },
            storePro(){
                this.proForm.date = moment(this.proForm.date).format('YYYY-MM-DD');
                alert("ddd");
                this.proForm.post('/api/proefritten')
                    .then(response => {
                        toastr.success(response.message);
                        this.$emit('completed')
                    })
                    .catch(error => {
                        helper.showErrorMsg(error);
                    });
            },
            getPro(){
                axios.get('/api/proefritten/'+this.id)
                    .then(response => response.data)
                    .then(response => {
                        this.proForm.licence_plate = response.licence_plate;
                        this.proForm.licence_number = response.licence_number;
                        this.proForm.name = response.name;
                        this.proForm.date = response.date;
                        this.proForm.begin_location = response.begin_location;
                        this.proForm.end_location = response.end_location;
                        this.proForm.start_time = response.start_time;
                        this.proForm.end_time = response.end_time;

                    })
                    .catch(error => {
                        helper.showDataErrorMsg(error);
                        this.proForm.start_time = response.start_time;
                        this.$router.push('/proefritten');
                    });
            },
            updateProefretten(){
                this.proForm.date = moment(this.proForm.date).format('YYYY-MM-DD');
                this.proForm.patch('/api/proefritten/'+this.id)
                    .then(response => {
                        toastr.success(response.message);
                        this.$router.push('/proefritten');
                    })
                    .catch(error => {
                        helper.showErrorMsg(error);
                    });
            }
        },
        computed: {
        }
    }
</script>
